.search-bar {
    background-color: #186d3e;
}

.search-btn:hover,
.search-btn:focus {
    background-color: #d2ff00 !important;
    color: #186d3e !important;
}

.search-bar .search-btn {
    border: 1px solid white;
}