#contact-btn {
    background-color: #052123;
    color: white;
}

button:focus {
    box-shadow: none;
}

#contact-btn:hover {
    background-color: #0f484c;
    color: white;
}

#contact-btn:focus {
    background-color: #0f484c;
    box-shadow: none;
    color: white;
}

#assignWasteCollector {
    border: none;
}

.success {
    background-color: #e1ffc8;
    color: #2c301a;
}

.unsuccess {
    background-color: #ff000d11;
}

#note {
    background-color: #f1f1f1;
}

.bigButton {
    background-color: #052123;
}

.bigButton:hover {
    background-color: #0f484c;
}

#order_header {
    background-color: #f1f1f1;
    color: #2c301a;
}

.title {
    background-color: #052123;
    color: white;
}

#details .col {
    padding: 0px;
    margin: 0px 15px;
    background-color: #f1f1f1;
}

.clock-box {
    border: 1px solid #052123;

}