.content {
  min-height: 1000px;
}

input:autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #dcff8f inset !important;
}

a {
  text-decoration: none;
}

.btn-custom-1:hover {
  background-color: #186d3e !important;
}