body {
	margin: 0;
	font-family: Open Sans, Roboto Slab, and Lora, "DIN W05 Light", "Arial Narrow", Arial, sans-serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}



.preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999;
	background-color: rgb(248, 248, 242);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100px;
}